/* CrearUsuario.css */
.register-container {
    padding-top: 64px; /* Altura del AppBar */
  }
  
  .register-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  